<div class="menu-header">{{ 'table.tableSettings.titleSettings' | i18n }}</div>
<button mat-menu-item>
  <div class="menu-button"
    (click)="resetFilters()">
    <img matTooltip="{{'table.tableSettings.refreshTooltip' | i18n}}"
      matTooltipClass="table--header--tooltip"
      matTooltipPosition="above"
      class="reset-button"
      [class.mdc-tooltip--multiline]="true"
      [matTooltipShowDelay]="1000"
      src="/assets/images/icons/reset_filters_icon.svg"
      width="16px"
      height="18.45px"
      alt="<" />
    <div class="menu-text">{{ 'table.tableSettings.resetAllFilters' | i18n }}</div>
  </div>
</button>
<mat-divider class="divider"></mat-divider>
<button mat-menu-item>
  <div class="menu-button"
    (click)="openTableColumnSettingsDialog()">
    <img matTooltip="{{'table.tableSettings.refreshTooltip' | i18n}}"
      matTooltipClass="table--header--tooltip"
      matTooltipPosition="above"
      [class.mdc-tooltip--multiline]="true"
      [matTooltipShowDelay]="1000"
      src="/assets/images/icons/column_settings_icon.svg"
      width="20.1px"
      height="20.03px"
      alt="<" />
    <div class="menu-text">{{ 'table.tableSettings.title' | i18n }}</div>
  </div>
</button>