<div class="imprint-container-wrapper">
  <mat-card class="imprint-container">
    <mat-card-header>
      <mat-card-title class="imprint-title">
        {{ 'pageImprint.title' | i18n }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="imprint-content">
      <div>
        {{ 'pageImprint.address.content' | i18n}}
      </div>
      <div class="imprint-header">
        {{ 'pageImprint.managingDirectors.title' | i18n}}
      </div>
      <div>
        {{ 'pageImprint.managingDirectors.content' | i18n}}
      </div>
      <div class="imprint-header">
        {{ 'pageImprint.contentResponsibility.title' | i18n}}
      </div>
      <div class="pb-3">
        {{ 'pageImprint.contentResponsibility.content' | i18n}}
      </div>

      <mat-divider class="divider imprint-divider"></mat-divider>

      <div class="imprint-note-title">
        {{ 'pageImprint.note.title' | i18n}} </div>

      <section class="imprint-note-text"
        [innerHTML]="'pageImprint.note.content' | i18n : { interpolation: { escapeValue: false } }"></section>
    </mat-card-content>
  </mat-card>
</div>