.footer {
  &--container {
    @apply bg-surfaceDim;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0px 73px;
    gap: 85px;
  }
  &--items-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    width: 100%;
  }
  &--items {
    display: flex;
    gap: 40px;
  }
  &--item {
    @apply text-secondary;
  }
  &--copyright {
    display: flex;
    gap: 40px;
  }
}
