@import '../../../../../../theme/base.scss';
@tailwind base;

.container {
  width: 850px;
  overflow-y: hidden;
  margin-right: 0.5px;
  padding: 20px;
}

.header {
  @extend .headline-medium;
  font-size: 32px;
  font-weight: 600;
  line-height: 35.2px;
  color: #333333;

  display: flex;
  justify-content: space-between;
}

.investigation-parts-table {
  height: 420px !important;
  overflow-y: auto !important;
}
.investigation-wrapper {
  height: 700px !important;
}
