<div class="container">
  <div class="header">
    <div>{{ title | i18n }}
    </div>
    <div>
      <img mat-dialog-close
        class="pr-2"
        src="/assets/images/icons/closeDialog_icon.svg"
        alt="X" />
    </div>
  </div>
  <div>
    <div class="message-text">{{message | i18n}}</div>
  </div>
  <div>
    <div class="buttons-container">
      <app-button mat-dialog-close
        [variant]="'stroked'"
        (click)="confirmAction()"
        class="mr-4">
        <div class="confirm-button-text">{{ confirmButtonLabel | i18n }}</div>
      </app-button>

      <div>
        <app-button [variant]="'flat'"
          [color]="'primary'"
          mat-dialog-close>
          <div class="cancel-button-text">{{ cancelButtonLabel | i18n }}</div>
        </app-button>
      </div>
    </div>
  </div>
</div>